ncmpcpp_directory = ~/.config/ncmpcpp
mpd_host = localhost
mpd_port = 6600
mpd_connection_timeout = 5
mpd_music_dir = ~/audio
#mpd_crossfade_time = 2
visualizer_data_source = /tmp/mpd.fifo
visualizer_output_name = "MPD FIFO"
song_window_title_format = "ncmpcpp"
song_columns_list_format = "(30)[5]{a} (35)[5]{t} (5)[2]{l}"
playlist_display_mode = "columns"
execute_on_song_change= ~/.config/ncmpcpp/cover.sh
autocenter_mode = yes
centered_cursor = yes
progressbar_look =  "━━━"
header_visibility = no
statusbar_visibility = no
connected_message_on_startup = no
titles_visibility = no



