*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig
*.pem
ph.*

pkg/
src/

mpd.pid
mpd.state
mpd.db
mpd.log

.vscode

docker/docker/data
docker/docker/certs

ngrok.yml

localtunnel.service
st/aur/st-scrollback-git
