[user]
	name = Lucas Saliés Brum
	email = 97509+sistematico@users.noreply.github.com

[url "git://git.archlinux.org/svntogit/packages.git --single-branch --branch packages/"]
    insteadOf = "pkg:"

[url "ssh://aur@aur.archlinux.org/"]
    insteadOf = "aur:"

[url "git@github.com:sistematico/"]
    insteadOf = "gh:"

[url "git@gitlab.com:sistematico/"]
    insteadOf = "gl:"

[url "git@bitbucket.org:sistematico/"]
    insteadOf = "bb:"

[alias]
    cl = clone
    ch = checkout
    co = checkout
    br = branch
    ci = commit
    st = status
    lg = log --oneline

[pull]
    rebase = false

[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f

[init]
    defaultBranch = main

[core]
    editor = code --wait
	autocrlf = false
	#autocrlf = true
[push]
	autoSetupRemote = true
