#!/bin/sh
#
# ~/.xprofile
#
# Executed by LightDM, GDM, SLiM, nodm

if [ -d /etc/X11/xinit/xinitrc.d ]; then
  for f in /etc/X11/xinit/xinitrc.d/*; do
    [ -x "$f" ] && . "$f"
  done
  unset f
fi

# Node.js
export NODE_VERSION=v16.13.0

# Composer
export COMPOSER_HOME=${HOME}/.composer

# Path
[ -d /usr/local/lib/nodejs/node-$NODE_VERSION-linux-x64/bin ] && export PATH=$PATH:/usr/local/lib/nodejs/node-$NODE_VERSION-linux-x64/bin
[ -d ${HOME}/bin ] && export PATH=$PATH:$HOME/bin
[ -d ${HOME}/.local/bin ] && export PATH=$PATH:$HOME/.local/bin
[ -d ${HOME}/apps ] && export PATH=${PATH}:${HOME}/apps
[ -d ${HOME}/.npm/bin ] && export PATH=${PATH}:${HOME}/.npm/bin
[ -d ${COMPOSER_HOME}/vendor/bin ] && export PATH=${PATH}:${COMPOSER_HOME}/vendor/bin

dbus-update-activation-environment --systemd DISPLAY
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK

# Dirs
export GH=${HOME}/github
export GL=${HOME}/gitlab
export DOT=${HOME}/.dotfiles

# Vars
export TERMINAL=xfce4-terminal
export BROWSER=firefox
export EDITOR=nano
export VISUAL=code
export RANGER_LOAD_DEFAULT_RC=false

# Theme
#export GTK2_RC_FILES=/usr/share/themes/Adwaita-dark/gtk-2.0/gtkrc
export GTK2_RC_FILES=/usr/share/themes/Adwaita/gtk-2.0/gtkrc
#export GTK_THEME=Adwaita:dark
export XCURSOR_THEME=Nordzy-cursors

# VSCodium
export VSCODE_GALLERY_SERVICE_URL='https://marketplace.visualstudio.com/_apis/public/gallery'
export VSCODE_GALLERY_CACHE_URL='https://vscode.blob.core.windows.net/gallery/index'
export VSCODE_GALLERY_ITEM_URL='https://marketplace.visualstudio.com/items'
export VSCODE_GALLERY_CONTROL_URL=''
export VSCODE_GALLERY_RECOMMENDATIONS_URL=''

#export MOZ_DISABLE_CONTENT_SANDBOX=1
#export MOZ_DISABLE_GMP_SANDBOX=1

# iBus
#export GTK_IM_MODULE=ibus
#export XMODIFIERS=@im=ibus
#export QT_IM_MODULE=ibus
#ibus-daemon -drx &

# fcitx
#export GTK_IM_MODULE=fcitx
#export QT_IM_MODULE=fcitx
#export XMODIFIERS=@im=fcitx
##export XMODIFIERS="" # IntelliJ Accents
#fcitx -d &

export GPG_AGENT_INFO
export GNOME_KEYRING_CONTROL
export GNOME_KEYRING_PID

# IntelliJ Accents
export XMODIFIERS=""

case $DESKTOP_SESSION in
    i3|i3wm|bspwm|openbox|herbsluftwm)
		xrandr --output HDMI-0 --primary --mode "2560x1440"

		export TERMINAL=st
		export GTK2_RC_FILES=$HOME/.local/themes/Nordic-darker-v40/gtk-2.0/gtkrc
		export GTK_THEME=Nordic-darker-v40
		export XCURSOR_THEME=Nordzy-cursors

        ln -sfT "/usr/share/dbus-1/services/org.knopwob.dunst.service" "${XDG_DATA_HOME:-$HOME/.local/share}/dbus-1/services/org.freedesktop.Notifications.service"
    ;;
    cinnamon|cinnamon-session)
        ln -sfT "/usr/share/dbus-1/services/org.freedesktop.Notifications.service" "${XDG_DATA_HOME:-$HOME/.local/share}/dbus-1/services/org.freedesktop.Notifications.service"
    ;;
    mate)
        ln -sfT "/usr/share/dbus-1/services/org.freedesktop.mate.Notifications.service" "${XDG_DATA_HOME:-$HOME/.local/share}/dbus-1/services/org.freedesktop.Notifications.service"
    ;;
    xfce|xfce4|xfce4-session)
        ln -sfT "/usr/share/dbus-1/services/org.freedesktop.Notifications.service" "${XDG_DATA_HOME:-$HOME/.local/share}/dbus-1/services/org.freedesktop.Notifications.service"
        #rm "${XDG_DATA_HOME:-$HOME/.local/share}/dbus-1/services/org.freedesktop.Notifications.service"
        #exec xfce4-session
    ;;
    xfwm|xfwm4)
        export XDG_CURRENT_DESKTOP=XFCE
        xfce4-session &
        xfce4-panel &
        #xfdesktop &
        #pulseaudio --start &
        exec xfwm4
    ;;
esac
