[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter=/usr/bin/io.elementary.terminal "%s"
Icon=io.elementary.terminal
Name=io.elementary.terminal
X-XFCE-Commands=/usr/bin/io.elementary.terminal

