'.source.shell':
  'Shell loop over files':
    'prefix': 'shellloop'
    'body': """
        for f in *.${1:ext};
        do
            echo "$f";
        done
    """

  'Shell random file':
    'prefix': 'shellrand'
    'body': 'ls | shuf -n1'

  'Shell get epoch from file':
    'prefix': 'shellepochfile'
    'body': 'stat --printf=%Y ${1:file}'

  'Shell get epoch':
    'prefix': 'shellepoch'
    'body': 'date +%s'
