'.source.shell':
  'Shell loop over files':
    'prefix': 'shellfileloop'
    'body': """
        for f in *.${1:ext};
        do
            echo "$f";
        done
    """

  'Shell random file':
    'prefix': 'shellrand'
    'body': 'ls | shuf -n1'

  'Shell get epoch from file':
    'prefix': 'shellepochfile'
    'body': 'stat --printf=%Y ${1:file}'

  'Shell get epoch':
    'prefix': 'shellepoch'
    'body': 'date +%s'

  'Shell file to array':
    'prefix': 'shellfilearray'
    'body': 'array=($(ls -d */))'

  'Shell random array item':
    'prefix': 'shellrandarray'
    'body': """
        array=("item1" "item2" "item3")
        #array[0]="file1.sdf"
        #array[1]="file2.sdf"
        #array[2]="file3.sdf"
        #array[3]="file4.sdf"

        size=${#array[@]}
        index=$(($RANDOM % $size))
        echo ${array[$index]}
    """

  'Shell add item to array':
    'prefix': 'shelladdarray'
    'body': """
        declare -a array

        array+=("item1") # or
        array=(${array[@]} "item2")
    """
