[Desktop Entry]
Type=Application
Version=1.0
Name=Among Us
Comment=
#StartupWMClass=Among Us
StartupWMClass=steam_app_945360
Exec=steam steam://rungameid/945360
Icon=amongus
Terminal=false
Categories=Games;
