[Desktop Entry]
Encoding=UTF-8
Name=Privilege granting
Name[cs]=Přidělování práv
Name[es]=Obteniendo privilegios
Name[eu]=Pribilegioa ematea
Name[hu]=Jogosultság megadása
Name[it]=Concessione privilegi
Name[ko]=관리 권한 부여
Name[sv]=Rättighetstilldelning
Name[zh_CN]=权限授予
Comment=Configure behavior of the privilege-granting tool
Comment[cs]=Nastavuje chování nástroje pro přidělování práv
Comment[es]=Configurar el comportamiento de la herramienta para la obtención de privilegios
Comment[eu]=Konfiguratu pribilegioak emateko tresnaren portaera
Comment[hu]=A jogosultságmegadó eszköz viselkedésének beállítása
Comment[it]=Configura il comportamento dello strumento di concessione privilegi
Comment[ko]=관리 권한 부여 프로그램의 동작을 설정합니다
Comment[sv]=Konfigurera beteendet för verktyget för rättighetstilldelning
Comment[zh_CN]=配置权限授予工具的行为
Exec=gksu-properties
Icon=gksu
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;Settings;AdvancedSettings;
#OnlyShowIn=GNOME;XFCE;
NoDisplay=true
