[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Instagram
Comment=
Exec=/usr/local/webapps/Instagram-linux-x64/Instagram
Icon=/usr/share/pixmaps/instagram.svg
Terminal=false
StartupWMClass=instagram-nativefier-51e18f
