[Desktop Entry]
Name=MATE Disk Usage Analyzer
Name[am]=ሜት የ ዲስክ አጠቃቀም መርማሪ
Name[ar]=محلّل متّة لاستخدام الأقراص
Name[ast]=Analizador d'usu de discu MATE
Name[be]=Дыскавы аналізатар MATE
Name[bg]=Анализатор за използване на диска на MATE
Name[br]=Dezrannerez arver kantenn MATE
Name[ca]=Analitzador de l'ús dels discs de MATE
Name[ca@valencia]=Analitzador de l'ús dels discos del MATE
Name[cs]=Analyzátor využití disku pro MATE
Name[da]=MATE - diskforbrugsanalyse
Name[de]=MATE-Festplattenbelegungsanalyse
Name[el]=Ανάλυση χρήσης δίσκου του MATE
Name[en_AU]=MATE Disk Usage Analyser
Name[en_GB]=MATE Disk Usage Analyser
Name[es]=Analizador del uso del disco de MATE
Name[es_CO]=Analizador de Uso de Disco de MATE
Name[et]=MATE kettakasutuse analüsaator
Name[fi]=MATE Levynkäytön analysointi
Name[fr]=Analyseur d'utilisation des disques
Name[gl]=Analizador do uso do disco do MATE
Name[he]=מנתח הדיסק של MATE
Name[hu]=MATE lemezhasználat-elemző
Name[hy]=MATE Սկավառակի օգտագործման վերլուծիչ
Name[id]=Penganalisa Penggunaan Disk MATE
Name[ie]=Analisator del usage de discos MATE
Name[it]=Analizzatore di utilizzo del disco di MATE
Name[ja]=MATE ディスク使用量解析
Name[kk]=MATE диск қолдануын анализдеушісі
Name[ko]=마테 디스크 사용 분석기
Name[lt]=MATE disko naudojimo analizatorius
Name[lv]=MATE Diska Izmantojums
Name[ms]=Penganalisis Penggunaan Cakera MATE
Name[nb]=MATE diskbrukanalyse
Name[nl]=MATE Schijfgebruikanalyse
Name[pl]=Analizator wykorzystania dysku MATE
Name[pt]=Analisador de Utilização do Disco MATE
Name[pt_BR]=Uso do Disco
Name[ro]=Analizator disc MATE
Name[ru]=Анализатор использования дисков MATE
Name[sk]=Analyzátor využitia disku prostredia MATE
Name[sl]=MATE Analizator Uporabe Diska
Name[sr]=Мејтов испитивач искоришћености диска
Name[sv]=Diskanvändningsanalyseraren för MATE
Name[th]=เครื่องมือวิเคราะห์การใช้ดิสก์ของ MATE
Name[tr]=MATE Disk Kullanım Analizcisi
Name[uk]=Аналізатор використання диску MATE
Name[uz]=MATE Diskdan Foydalanish Tahlilchisi
Name[vi]=Bộ phân tích sử dụng đĩa MATE
Name[zh_CN]=MATE 磁盘用量分析器
Name[zh_TW]=MATE 磁碟用量分析器
Comment=Check folder sizes and available disk space
Comment[af]=Kontroleer gidsgroottes en beskikbare skyfspasie
Comment[am]=የፎልድር መጠኖችን እና ዝግጁ የዲስክ ቦታዎችን መርማሪ 
Comment[ar]=افحص حجم المجلدات والمساحة المتوفرة
Comment[as]=ফোল্ডাৰৰ মাপ আৰু ডিস্কত উপলব্ধ স্থান পৰীক্ষা কৰা হ'ব
Comment[ast]=Comprobar el tamañu de les carpetes y l'espaciu disponible en discu
Comment[be]=Праверка памеру каталогаў і даступнай дыскавай прасторы
Comment[bg]=Проверка на размерите на папките и свободното пространство на диска
Comment[bn]=ফোল্ডারের মাপ ও ডিস্কে বিদ্যমান স্থান পরীক্ষা করা হবে
Comment[bn_IN]=ফোল্ডারের মাপ ও ডিস্কে উপলব্ধ স্থান পরীক্ষা করা হবে
Comment[br]=Gwiriañ mentoù an teuliadoù ha plas hegerz war ar gantennad
Comment[ca]=Comproveu la mida de les carpetes i l'espai disponible al disc
Comment[ca@valencia]=Comprova la mida de les carpetes i l'espai disponible al disc
Comment[cmn]=檢查資料夾大小與可用的磁碟空間
Comment[crh]=Cilbent ölçülerini ve faydalanışlı disk fezasını teşker
Comment[cs]=Zkontrolovat velikost složek a dostupné místo na disku
Comment[da]=Kontroller mappestørrelser og tilgængelig diskplads
Comment[de]=Ordnergrößen und freien Festplattenplatz analysieren
Comment[dz]=ཡིག་སྣོད་ཀྱི་ཚད་ཚུ་དང་འཐོབ་ཚུགས་པའི་ཌིཀསི་ས་སྟོང་ཞིབ་དཔྱད་འབད
Comment[el]=Έλεγχος μεγέθους φακέλων και διαθέσιμου χώρου στο δίσκο
Comment[en_AU]=Check folder sizes and available disk space
Comment[en_GB]=Check folder sizes and available disk space
Comment[eo]=Kontroli dosierujajn grandojn kaj disponeblan diskmemoron
Comment[es]=Compruebe el tamaño de las carpetas y el espacio disponible en disco
Comment[et]=Kaustade suuruse ja saadaoleva kettaruumi kontroll
Comment[eu]=Egiaztatu karpeten tamainak eta diskoan dagoen leku erabilgarria
Comment[fi]=Tarkista kansioiden koko ja käytettävissä oleva levytila
Comment[fr]=Vérifier la taille des dossiers et l'espace disque disponible
Comment[ga]=Seiceáil méideanna fillteán agus spás diosca le fáil
Comment[gl]=Comprobar o tamaño dos cartafoles e o espazo dispoñíbel no disco
Comment[gu]=ફોલ્ડર માપો અને ઉપલબ્ધ ડિસ્ક જગ્યા ચકાસો
Comment[he]=בודק גדלי ספריות ומקום פנוי בדיסק
Comment[hi]=फोल्डर आकार जाँचें और उपलब्ध डिस्क स्थान
Comment[hr]=Provjeri veličinu mapa i dostupni prostor diska
Comment[hu]=Mappaméretek és elérhető lemezterület vizsgálata
Comment[hy]=Ստուգեք թղթապանակի չափերը և մատչելի սկավառակի տարածությունը
Comment[id]=Periksa ukuran folder dan ruang disk yang tersedia
Comment[ie]=Controlar grandores de fólderes e disc-spacie disponibil
Comment[it]=Controlla la dimensione delle cartelle e lo spazio disco disponibile
Comment[ja]=フォルダと利用可能なディスク容量をチェックします
Comment[kk]=Бумалар өлшемдерін және дисктердегі қолжетерлік орынды тексеру
Comment[kn]=ಕಡತಕೋಶದ ಗಾತ್ರಗಳು ಹಾಗು ಲಭ್ಯವಿರುವ ಡಿಸ್ಕಿನ ಜಾಗಕ್ಕಾಗಿ ನೋಡು
Comment[ko]=폴더 크기와 디스크의 사용 가능한 공간을 검사합니다
Comment[lt]=Tikrinti aplankų dydžius ir laisvą vietą
Comment[lv]=Pārbauda mapju izmērus un pieejamo diska vietu
Comment[mk]=Провери ја големината на папките и достапниот простор на дискот
Comment[ml]=ഫോള്‍ഡറിന്റെ വ്യാപ്തിയും ഡിസ്കില്‍ ലഭ്യമായ സ്ഥലവും പരിശോധിയ്ക്കുക
Comment[mr]=फोल्डर आकार व उपलब्ध डीस्क जागा तपासा
Comment[ms]=Semak saiz folder dan ruang cakera yang tersedia
Comment[nb]=Sjekk mappestørrelser og tilgjengelig diskplass
Comment[ne]=फोल्डर साइज र उपलब्ध डिस्क खालीस्थान जाँच गर्नुहोस्
Comment[nl]=Bekijk mapgroottes en beschikbare schijfruimte
Comment[nn]=Sjekk mappestorleikar og tilgjengeleg diskplass
Comment[or]=ଫୋଲଡର ର ଆକାର ଏବଂ ଉପଲବ୍ଧ ଡିସ୍କ ସ୍ଥାନ ଯାଞ୍ଚ କରନ୍ତୁ
Comment[pa]=ਫੋਲਡਰ ਸਾਇਜ਼ ਅਤੇ ਉਪਲੱਬਧ ਡਿਸਕ ਥਾਂ ਚੈੱਕ ਕਰੋ
Comment[pl]=Wyświetlanie rozmiaru katalogów i dostępnego miejsca na dysku
Comment[ps]=د پوښۍ کچونه او شته ټيکلی تشه وګورﺉ
Comment[pt]=Analisar tamanho das pastas e espaço disponível em disco
Comment[pt_BR]=Verifique o tamanho das pastas e o espaço disponível em disco
Comment[ro]=Verifică dimensiunea dosarului și spațiul disponibil pe disc
Comment[ru]=Изучение размера папок и свободного места на дисках
Comment[sk]=Skontrolovať veľkosti priečinkov a dostupné miesto na disku
Comment[sl]=Preveri velikosti map in razpoložljiv prostor na disku
Comment[sr]=Проверите величине фасцикли и слободан простор на диску
Comment[sr@latin]=Proveri veličine direktorijuma i slobodni prostor na disku
Comment[sv]=Kontrollera mappstorlekar och tillgängligt diskutrymme
Comment[ta]=அடைவு அளவு மற்றும் கிடைக்கக்கூடிய வட்டு இடைவெளி ஆகியவற்றை சரிபார் 
Comment[te]=ఖని ఖాళీ లభ్యత మరియు సంచయము ఖాళీ లభ్యతలను తనిఖీచేయుము
Comment[th]=ตรวจสอบขนาดของโฟลเดอร์ต่างๆ และเนื้อที่ว่างในดิสก์
Comment[tr]=Dizin boyutlarını ve mevcut boş disk alanını kontrol et
Comment[ug]=قىسقۇچ چوڭلۇقى ۋە ئىشلىتىلىشچان دىسكا بوشلۇقىنى تەكشۈر
Comment[uk]=Перевірте розміри тек та дисковий простір
Comment[ur]=فولڈروں کے حجم اور ہارڈ ڈسک پر دستیاب خالی جگہ کی جانچ کریں
Comment[vi]=Kiểm tra kích cỡ thư mục và chỗ rảnh trên đĩa
Comment[zh_CN]=检查文件夹大小和可用磁盘空间
Comment[zh_HK]=檢查資料夾大小與可用的磁碟空間
Comment[zh_TW]=檢查資料夾大小與可用的磁碟空間
TryExec=mate-disk-usage-analyzer
Exec=mate-disk-usage-analyzer
Icon=mate-disk-usage-analyzer
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;System;Filesystem;
Keywords=MATE;check;disk;usage;analyze;size;space;
OnlyShowIn=MATE;XFCE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-utils
X-MATE-Bugzilla-Component=mate-disk-usage-analyzer
X-MATE-Bugzilla-Version=1.22.2
#NoDisplay=true
Path=
