[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name[as]=PulseAudio পছন্দ
Name[bn_IN]=PulseAudio সংক্রান্ত পছন্দ
Name[ca]=Preferències del PulseAudio
Name[cs]=Předvolby PulseAudio
Name[da]=Indstillinger til PulseAudio
Name[de]=PulseAudio-Einstellungen
Name[el]=Επιλογές PulseAudio
Name[es]=Preferencias de PulseAudio
Name[fi]=PulseAudio-asetukset
Name[fr]=Préférences de PulseAudio
Name[gu]=PulseAudio પસંદગીઓ
Name[hi]=पल्सऑडियो वरीयता
Name[hr]=PulseAudio osobitosti
Name[hu]=PulseAudio beállításai
Name[it]=Preferenze di PulseAudio
Name[kn]=PulseAudio ನ ಆದ್ಯತೆಗಳು
Name[ml]=പള്‍സ്ഓഡിയോ മുന്‍ഗണനകള്‍
Name[mr]=PulseAudio पसंती
Name[ms]=Keutamaan PulseAudio
Name[nl]=PulseAudio voorkeuren
Name[or]=PulseAudio ପସନ୍ଦଗୁଡ଼ିକ
Name[pa]=ਪਲਸ-ਆਡੀਓ ਪਸੰਦ
Name[pl]=Preferencje PulseAudio
Name[pt]=Preferências do PulseAudio
Name[pt_BR]=Preferências do PulseAudio
Name[sk]=Predvoľby PulseAudio
Name[sr]=PulseAudio поставке
Name[sr@latin]=PulseAudio postavke
Name[sv]=Inställningar för PulseAudio
Name[ta]=PulseAudio முன்னுரிமைகள்
Name[te]=PulseAudio అభీష్టాలు
Name[th]=ปรับแต่ง PulseAudio
Name[tr]=PulseAudio Tercihleri
Name[uk]=Налаштування PulseAudio
Name[zh_CN]=PulseAudio 属性
Name=PulseAudio Preferences
GenericName[as]=ধ্বনি সেৱকৰ পছন্দ
GenericName[bn_IN]=শব্দের সার্ভার সংক্রান্ত পছন্দ
GenericName[ca]=Preferències del servidor de so
GenericName[cs]=Předvolby zvukového serveru
GenericName[da]=Indstillinger til lydserver
GenericName[de]=Audio-Dienst-Einstellungen
GenericName[el]=Επιλογές εξυπηρετητή ήχου
GenericName[es]=Preferencias del Servidor de Sonido
GenericName[fi]=Äänipalvelimen asetukset
GenericName[fr]=Préférences du serveur de son
GenericName[gu]=સાઉન્ડ સર્વર પસંદગીઓ
GenericName[hi]=साउंड सर्वर वरीयता
GenericName[hr]=Osobitosti zvučnog poslužitelja
GenericName[hu]=Hangkiszolgáló beállításai
GenericName[it]=Preferenze del server sonoro
GenericName[kn]=ಧ್ವನಿ ಪರಿಚಾರಕದ ಆದ್ಯತೆಗಳು
GenericName[ml]=ശബ്ദ സര്‍വറിനുള്ള മുന്‍ഗണനകള്‍
GenericName[mr]=आवाज सर्व्हर पसंती
GenericName[ms]=Keutamaan Pelayan Bunyi
GenericName[nl]=Geluidsserver voorkeuren
GenericName[or]=ଧ୍ୱନି ସର୍ଭର ପସନ୍ଦଗୁଡ଼ିକ
GenericName[pa]=ਸਾਊਂਡ ਸਰਵਰ ਪਸੰਦ
GenericName[pl]=Preferencje serwera dźwięku
GenericName[pt]=Preferências do Servidor de Som
GenericName[pt_BR]=Preferências do servidor de som
GenericName[sk]=Predvoľby zvukového servera
GenericName[sr]=Поставке звучног сервера
GenericName[sr@latin]=Postavke zvučnog servera
GenericName[sv]=Inställningar för ljudserver
GenericName[ta]=ஒலி சேவையக முன்னுரிமைகள்
GenericName[te]=శబ్దపు సేవిక అభీష్టాలు
GenericName[th]=ปรับแต่งเซิร์ฟเวอร์เสียง
GenericName[tr]=Ses Sunucusu Tercihleri
GenericName[uk]=Налаштування звукового сервера
GenericName[zh_CN]=声音服务器属性
GenericName=Sound Server Preferences
Comment[as]=স্থানীয় ধ্বনি সেৱকৰ বিন্যাস দৰ্শন কৰক আৰু সলনি কৰক
Comment[bn_IN]=স্থানীয় শব্দের সার্ভারের কনফিগারেশন প্রদর্শন ও পরিবর্তন করুন
Comment[ca]=Visualitzeu i modifiqueu la configuració del servidor de so local
Comment[cs]=Zobrazí a upraví konfiguraci místního zvukového serveru
Comment[da]=Vis og redigér konfigurationen af den lokale lydserver
Comment[de]=Anzeigen und Ändern der Konfiguration des lokalen Audio-Dienstes
Comment[el]=Εμφάνιση και επεξεργασία ρυθμίσεων του τοπικού εξυπηρετητή ήχου
Comment[es]=Ver y modificar la configuración del servidor de sonido local
Comment[fi]=Näytä ja muokkaa paikallisen äänipalvelimen asetuksia
Comment[fr]=Afficher et modifier la configuration du serveur de son local
Comment[gu]=સ્થાનિય સાઉન્ડ સર્વરનાં રૂપરેખાંકનને દર્શાવો અને બદલો
Comment[hi]=स्थानीय साउंड सर्वर के विन्यास को देखें व बदलें
Comment[hr]=Pogledajte i promijenite postavke lokalnog zvučnog poslužitelja
Comment[hu]=A helyi hangkiszolgáló beállításainak megjelenítése és módosítása
Comment[it]=Visualizza e modifica la configurazione del server sonoro locale
Comment[kn]=ಸ್ಥಳೀಯ ಧ್ವನಿ ಪರಿಚಾರಕದ ಸಂರಚನೆಯನ್ನು ನೋಡಿ ಹಾಗು ಬದಲಾಯಿಸಿ
Comment[ml]=ലോക്കല്‍ ശബ്ദ സര്‍വറിനുള്ള ക്രമീകരണം കണ്ടു് മാറ്റങ്ങള്‍ വരുത്തുക.
Comment[mr]=स्थानीय आवाज सर्व्हर वरील संयोजनाचे अवलोकन व संपादन करा
Comment[ms]=Lihat dan ubah konfigurasi pelayan bunyi lokal
Comment[nl]=Bekijk en verander de instellingen van de locale geluidsserver
Comment[or]=ସ୍ଥାନୀୟ ଧ୍ୱନି ସର୍ଭରର ସଂରଚନାକୁ ଦେଖନ୍ତୁ ଏବଂ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਲੋਕਲ ਸਾਊਂਡ ਸਰਵਰ ਦੀ ਸੰਰਚਨਾ ਵੇਖੋ ਅਤੇ ਸੋਧੋ
Comment[pl]=Wyświetlanie i modyfikacja konfiguracji lokalnego serwera dźwięku
Comment[pt]=Veja e altere a configuração do servidor de som local
Comment[pt_BR]=Veja e modifique as configurações do servidor de som local
Comment[sk]=Zobraziť a upraviť konfiguráciu lokálneho zvukového servera
Comment[sr]=Прегледајте и измените поставке локалног звучног сервера
Comment[sr@latin]=Pregledajte i izmenite postavke lokalnog zvučnog servera
Comment[sv]=Visa och ändra konfigurationen för den lokala ljudservern
Comment[ta]=உள்ளமை ஒலி சேவையகத்தின் கட்டமைப்பை பார்வையிடு மற்றும் மாற்று
Comment[te]=స్థానిక శబ్దపు సేవికయొక్క ఆకృతీకరణను దర్శించుము మరియు సవరించుము
Comment[th]=ดูและปรับค่าเซิร์ฟเวอร์เสียงบนเครื่องของคุณ
Comment[tr]=Yerel ses sunucusunun yapılandırmasına bak ve değiştir
Comment[uk]=Перегляньте і змініть налаштування локального звукового сервера
Comment[zh_CN]=查看及修改本地声音服务器配置
Comment=View and modify the configuration of the local sound server
Exec=paprefs
Icon=preferences-desktop
StartupNotify=true
Type=Application
Categories=Settings;
NotShowIn=GNOME;

