[Desktop Entry]
Name=Pidgin Internet Messenger
Name[af]=Pidgin Internetboodskapper
Name[ar]=مرسال الإنترنت بِدْجِن
Name[as]=Pidgin ইন্টাৰনেট মেসেঞ্জাৰ
Name[ast]=Mensaxeru d'internet Pidgin
Name[be@latin]=Internet-kamunikatar Pidgin
Name[bn]=পিজিন ইন্টারনেট বার্তাবাহক
Name[bn_IN]=Pidgin ইন্টারনেট মেসেঞ্জার
Name[br]=Postelerezh Kenrouedad Pidgin
Name[brx]=पिडजिन इन्टारनेट मेसेनजार
Name[ca]=Missatger d'Internet Pidgin
Name[ca@valencia]=Missatger d'Internet Pidgin
Name[cs]=Pidgin Internet Messenger
Name[da]=Pidgin - Internetbeskeder
Name[de]=Pidgin Internet-Sofortnachrichtendienst
Name[el]=Αποστολέας μηνυμάτων διαδικτύου Pidgin
Name[en_AU]=Pidgin Internet Messenger
Name[en_GB]=Pidgin Internet Messenger
Name[eo]=Piĝin Interreta Mesaĝilo
Name[es]=Cliente de mensajería de Internet Pidgin
Name[es_AR]=Mensajero de Internet Pidgin
Name[et]=Pidgin, Interneti sõnumivahetus
Name[eu]=Pidgin Internet-Mezularia
Name[fa]=پیغام‌رسان اینترنتی پیجین
Name[fi]=Pidgin-pikaviestin
Name[fr]=Messagerie internet Pidgin
Name[ga]=Teachtaire Idirlín Pidgin
Name[gl]=Mensaxería na Internet de Pidgin
Name[gu]=Pidgin Internet Messenger
Name[he]=פידג'ין למסרים באינטרנט
Name[hi]=पिडगिन इंटरनेट मैसेंजर
Name[hu]=Pidgin üzenetküldő
Name[id]=Pesan Internet Pidgin
Name[it]=Pidgin Internet Messenger
Name[ja]=Pidgin インターネット・メッセンジャー
Name[km]=កម្មវិធី​ផ្ញើសារ​អ៊ីនធឺណិត​របស់ Pidgin
Name[kn]=ಪಿಜಿನ್ ಇಂಟರ್ನೆಟ್ ಮೆಸೆಂಜರ್
Name[ko]=Pidgin 인터넷 메신저
Name[lt]=Pidgin pokalbiai internete
Name[lv]=Pidgin Interneta ziņnesis
Name[mai]=पिजिन इंटरनेट मेसेंजर
Name[mhr]=Pidgin писе каласымаш алмаш клиент
Name[mk]=Pidgin инстант пораки
Name[ml]=പിഡ്ഗിന്‍ ഇന്റര്‍നെറ്റ് മെസഞ്ചര്‍
Name[mn]=Пизин Интернет Мессенжер
Name[mr]=Pidgin इंटरनेट संदेशवाहक
Name[ms_MY]=Pemesej Internet Pidgin
Name[my_MM]=ပင်ဂျင်း အင်တာနက် မစ်ဆင်းဂျာ
Name[nb]=Pidgin lynmeldingsklient
Name[nl]=Pidgin Internet Messenger
Name[nn]=Pidgin Internett meldingsklient
Name[oc]=Messatjariá Internet Pidgin
Name[or]=ପିଜିନ୍ ଇଣ୍ଟରନେଟ ସଂଦେଶବାହକ
Name[pa]=ਪਿਡਗਿਨ ਇੰਟਰਨੈਟ ਮੈਸੰਜ਼ਰ
Name[pl]=Pidgin
Name[pt]=Mensageiro de Internet Pidgin
Name[pt_BR]=Pidgin
Name[ro]=Mesagerul Pidgin
Name[ru]=Клиент обмена мгновенными сообщениями Pidgin
Name[sk]=Internetový komunikátor Pidgin
Name[sl]=Spletni sel Pidgin
Name[sq]=Pidgin Internet Messenger
Name[sr]=Пиџин Интернет писмоноша
Name[sr@latin]=Pidžin Internet pismonoša
Name[sv]=Pidgin meddelandeklient
Name[ta]=Pidgin இணையத்தள மேலாளர்
Name[te]=పిడ్జిన్ ఇంటర్నెట్ మెసెంజర్
Name[tr]=Pidgin İnternet Mesajlaşma Aracı
Name[uk]=Клієнт обміну миттєвими повідомленнями Pidgin
Name[vi]=Tin Nhắn Pidgin
Name[zh_CN]=Pidgin 互联网通讯程序
Name[zh_HK]=Pidgin 網絡即時通
Name[zh_TW]=Pidgin 網路即時通
GenericName=Internet Messenger
GenericName[af]=Internetboodskapper
GenericName[ar]=مرسال إنترنت
GenericName[as]=ইন্টাৰনেট মেসেঞ্জাৰ
GenericName[ast]=Mensaxeru d'enternet
GenericName[be@latin]=Internet-kamunikatar
GenericName[bg]=Бързи съобщения
GenericName[bn]=ইন্টারনেট বার্তাবাহক
GenericName[bn_IN]=ইন্টারনেট মেসেঞ্জার
GenericName[br]=Postelerezh Kenrouedad
GenericName[brx]=इन्टारनेट मेसेनजार
GenericName[ca]=Missatger d'Internet
GenericName[ca@valencia]=Missatger d'Internet
GenericName[cs]=Internet Messenger
GenericName[da]=Internetbeskeder
GenericName[de]=Internet-Sofortnachrichtendienst
GenericName[dz]=ཨིན་ཊར་ནེཊི་འཕྲིན་སྐྱེལ་པ།
GenericName[el]=Αποστολέας μηνυμάτων διαδικτύου
GenericName[en_AU]=Internet Messenger
GenericName[en_GB]=Internet Messenger
GenericName[eo]=Interreta Mesaĝilo
GenericName[es]=Cliente de mensajería de Internet
GenericName[es_AR]=Mensajero de Internet
GenericName[et]=Interneti sõnumivahetus
GenericName[eu]=Internet-Mezularia
GenericName[fa]=پیغام‌رسان اینترنتی
GenericName[fi]=Pikaviestin
GenericName[fr]=Messagerie internet
GenericName[ga]=Teachtaire Idirlín
GenericName[gl]=Mensaxería na Internet
GenericName[gu]=Internet Messenger
GenericName[he]=למסרים באינטרנט
GenericName[hi]=इंटरनेट मेसेंजर
GenericName[hu]=Azonnali üzenetküldés
GenericName[id]=Pengirim Pesan Internet
GenericName[it]=Internet Messenger
GenericName[ja]=インターネット・メッセンジャー
GenericName[km]=កម្មវិធី​ផ្ញើសារ​អ៊ីនធឺណិត
GenericName[kn]=ಇಂಟರ್ನೆಟ್ ಮೆಸ್ಸೆಂಜರ್
GenericName[ko]=인터넷 메신저
GenericName[ku]=Peyamnêra înternetê
GenericName[lt]=Pokalbiai internete
GenericName[lv]=Interneta ziņnesis
GenericName[mai]=इंटरनेट मेसेंजर
GenericName[mhr]=Писе каласымаш алмаш клиент
GenericName[mk]=Инстант пораки
GenericName[ml]=ഇന്റര്‍നെറ്റ് മെസഞ്ചര്‍
GenericName[mn]=Интернет Мессенжер
GenericName[mr]=इंटरनेट मेसेंजर
GenericName[ms_MY]=Pemesej Internet
GenericName[my_MM]=အင်တာနက် မစ်ဆင်းဂျာ -
GenericName[nb]=Lynmeldingsklient
GenericName[nl]=Internet Messenger
GenericName[nn]=Lynmeldingsklient
GenericName[oc]=Messatjariá instantanèa
GenericName[or]=ଇଣ୍ଟରନେଟ ସଂଦେଶବାହାକ
GenericName[pa]=ਇੰਟਰਨੈਟ ਮੈਸੰਜ਼ਰ
GenericName[pl]=Komunikator
GenericName[ps]=د انترنت زری
GenericName[pt]=Mensageiro Internet
GenericName[pt_BR]=Mensageiro da Internet
GenericName[ro]=Mesagerie instant
GenericName[ru]=Клиент обмена мгновенными сообщениями
GenericName[si]=අන්තර්ජාල පණිවිඩකරු
GenericName[sk]=Internetový komunikátor
GenericName[sl]=Spletni sel
GenericName[sq]=Lajmsjellës Internet
GenericName[sr]=Интернет писмоноша
GenericName[sr@latin]=Internet pismonoša
GenericName[sv]=Meddelandeklient
GenericName[ta]=இணையதள தூதுவர்
GenericName[te]=ఇంటర్నెట్ మెసెంజర్
GenericName[th]=โปรแกรมข้อความด่วน
GenericName[tr]=İnternet Mesajlaşma Aracı
GenericName[uk]=Спілкування миттєвими повідомленнями
GenericName[ur]=ا نٹرنیٹ میسینجر
GenericName[vi]=Tin Nhắn
GenericName[zh_CN]=互联网通讯程序
GenericName[zh_HK]=網絡即時通
GenericName[zh_TW]=網路即時通
Comment=Chat over IM.  Supports AIM, Google Talk, Jabber/XMPP, and more
Exec=pidgin
Icon=pidgin
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
Path=
Hidden=true

