[Desktop Entry]
Type=Application
Version=1.0
Name=Windows
Comment=Windows using Libvirt
Exec=qemu-system-x86_64 /media/storage/.libvirt/images/win10.qcow2
Icon=windows
Terminal=false
Categories=GTK;Network;

