[Desktop Entry]
Type=Application
Version=1.0
Name=Debian
Comment=Debian using Libvirt
Exec=qemu-system-x86_64 /media/storage/.libvirt/images/debian.qcow2
Icon=debian
Terminal=false
Categories=GTK;Network;

