[Desktop Entry]
Type=Application
Version=1.0
Name=Fedora
Comment=Fedora using Libvirt
Exec=qemu-system-x86_64 /media/storage/.libvirt/images/fedora.qcow2
Icon=fedora
Terminal=false
Categories=GTK;Network;

