[Desktop Entry]
Type=Application
Version=1.0
Name=Ubuntu
Comment=Ubuntu using libvirt
#StartupWMClass=Jmemorise
Exec=qemu-system-x86_64 /media/storage/.libvirt/images/ubuntu.qcow2
Icon=ubuntu
Terminal=false
Categories=GTK;Network;

