[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Reddit
Comment=
Exec=/usr/local/webapps/Reddit-linux-x64/Reddit
Icon=/usr/local/webapps/Reddit-linux-x64/resources/app/icon.png
Terminal=false
StartupWMClass=reddit-nativefier-a95df2
