[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Twitter
Comment=
Exec=/usr/local/webapps/Twitter-linux-x64/Twitter
Icon=/usr/local/webapps/Twitter-linux-x64/resources/app/icon.png
Terminal=false
StartupWMClass=twitter-nativefier-4fd9c9
