[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=WhatsApp
Comment=
Exec=/usr/local/webapps/WhatsApp-linux-x64/WhatsApp
Icon=whatsapp
Terminal=false
#StartupWMClass=Popcorn-Time
