[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=WhatsApp
Comment=
Exec=/usr/local/webapps/WhatsApp-linux-x64/WhatsApp
Icon=/usr/local/webapps/WhatsApp-linux-x64/resources/app/icon.png
Terminal=false
StartupWMClass=whatsapp-nativefier-d40211
