[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=WhatsApp
Comment=
Exec=/usr/local/webapps/WhatsApp-linux-x64/WhatsApp
Icon=/usr/share/icons/Newaita-dark/apps/64/whatsapp.svg
Terminal=false
StartupWMClass=whatsapp-nativefier-d40211
