[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/x-wine-extension-vbs;
Exec=env WINEPREFIX="/home/lucas/.wine" wine start /ProgIDOpen VBSFile %f
NoDisplay=true
StartupNotify=true
