configuration {
    theme: "gruvbox";
    modi: "window,drun,run,ssh";
    font: "Open Sans 11";
    show-icons: true;
    cycle: true;
    icon-theme: "Papirus";
    hide-scrollbar: true;
    click-to-exit: true;
	  me-select-entry: "";
	  me-accept-entry: "MousePrimary";
}
