[Match]
Name=lo

[Network]

[Address]
Label=lo:1
Address=127.0.0.2/24

[Address]
Label=lo:2
Address=172.16.253.10/32

[Address]
Label=lo:3
Address=172.16.253.11/32

[Route]
