[Desktop Entry]
Type=Application
Exec=/usr/bin/megasync-instances
#Name=sleep 60 && megasync_instances
Name=megasync_instances
Comment=Open all your MEGA instances
X-GNOME-Autostart-Delay=60
