[Desktop Entry]
Type=Application
Name=MegaSync Instances
Comment=Open all your MEGA instances
#Exec=/usr/bin/megasync-instances
Exec=/usr/bin/bash -c "/usr/bin/sleep 60 && /usr/bin/megasync-instances"
Terminal=false
Categories=Network;FileTransfer;
#X-GNOME-Autostart-Delay=60
