[Unit]
Description=The PHP FastCGI Process Manager
After=network.target

[Service]
Restart=always
User=lucas
ExecStart=/usr/bin/podman start -a php
ExecStop=/usr/bin/podman stop -t 10 php

[Install]
WantedBy=multi-user.target
