[Unit]
Description=/etc/rc.local compatibility

[Service]
Type=oneshot
ExecStart=/etc/rc.local
TimeoutSec=0
#StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
